@{
    ViewBag.Title = "Ошибочка вышла...";
}

<h2>@ViewBag.Title</h2>

<h3 style="color: red;">@ViewBag.ErrorMessage</h3>

<p>
    <a href="javascript:history.back()">Вернуться на предыдущую страницу</a>
</p>
